@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial";
}

body {
    background-image: url("militar1.png");
    background-position: center center;
    background-size: cover;
}

header {
    background-color: #001424;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    font-family: "Poetsen One", sans-serif;
    border-radius: 20px;
    margin: 10px;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
}

td{
    border-top: 1px solid #ffffff95;
    padding: 10px;
    margin: 10px;
}

table {
    width: 80%;
    text-align: center;
    background-color: #001424;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color:  #001424;
    text-decoration: none;
    font-family: "Poetsen One", sans-serif;
    margin: 10px;
    padding: 10px;
 }
 
 a:hover {
    color: #a4deff;
 }